// Colors
$bodyBackgroundColor: #dcbb9a;
$briefBackgroundColor: #fadcba;
$contentBackgroundColor: #fff;
$headingColor: #893c00;
$tableThBorderColor: $contentBackgroundColor;
$tableColor: #e0e0e0;
$linkColor: #3d70a1;
$formColor: #808080;
$textColor: #000;

// Brief
$widthBrief: 40%;
$briefFloat: left;
$briefMargin: 3px 20px 0 0;