// Colors
$bodyBackgroundColor: rgba(198, 238, 252, 0.53);
$textColor: #fff;
$contentBackgroundColor: #3b3b3b;
$tableThBorderColor: $textColor;
$headingColor: #fccd10;
$briefBackgroundColor: #fff178;
$tableColor: #94a34e;
$linkColor: #fccd10;
$formColor: #f5c70f;
$tableTdBackgroundColor: #677d07;

// Brief
$widthBrief: 95%;
$briefMargin: 3px 0 35px 4px;

// Headers
$headerTransform: uppercase;